*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    min-height: 1024px;
}

body{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

img{
    position: absolute;
    left: calc(50% - 90px);
    top: 317px;
}

span{
    display: inline-block;
    position: absolute;
    width: 630px;
    left: calc(50% - 315px);
    font-family: 'MyriadSetPro-Text', Arial, sans-serif;
    font-size: 36px;
    top: 454px;
    text-align: center;
}